

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.top {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: auto;
  min-height: 400px;
}

.symbolTableContainer {
  display: flex;
  flex: 1;
  min-width: 200px;
  max-width: 200px;
  border-right: 2px solid #3a3a3a;
}

.programContainer {
  display: flex;
  flex: 1;
  border-right: 2px solid #3a3a3a;
  overflow: hidden;
  min-width: 270px;
}

.assembledContainer {
  display: flex;
  flex: 1;
  border-right: 2px solid #3a3a3a;
  min-width: 200px;
  max-width: 200px;
}

.registersControlArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: auto;
  min-width: 190px;
  max-width: 190px;
  border-right: 2px solid #3a3a3a;
}

.bottom {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  max-height: 200px;
  border-top: 2px solid #3a3a3a;
}

.consoleContainer {
  display: flex;
  flex: 1;
  border-right: 2px solid #3a3a3a;
  min-height: 100px;
}

.canvasContainer {
  display: flex;
  flex: 1;
  max-width: 200px;
  border-right: 2px solid #3a3a3a;
  overflow: hidden;
}

* {
  outline: none;
}