.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.output {
  border-right: 2px solid #3a3a3a;
}

.outAndInBufContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.output {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.output>div {
  width: 100%;
  background-color: transparent;
  color: rgb(197, 192, 202);
  padding: 1px 5px 1px 5px;
  white-space: pre-wrap;
  overflow: auto;
  word-break: break-all;
  font-family: "Consolas";
  font-size: 0.9em;
}

/* https://stackoverflow.com/questions/51764992/blink-border-3-times-1-second-per-loop-in-css */
.alertsOutline {
  outline: 5px #ff0000 solid;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

@keyframes blink { 50% { outline-color:transparent; }  }

.inputBuffer {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.inputBuffer>textarea {
  background-color: transparent;
  color: rgb(197, 192, 202);
  padding: 1px 5px 1px 5px;
  height: 100%;
  resize: none;
  border: none;
}

.title {
  color: rgb(197, 192, 202);
  background-color: #ffffff15;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.inputText {
  display: flex;
  flex: 1;
  background-color: #ffffff40;
  color:rgb(197, 192, 202);
  border: none;
}

.btn {
  margin: 0px 5px 0px 0px;
  border: 1px solid #3a3a3a;
  color: rgb(197, 192, 202);
  background-color: #00000050;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 5px;
}

.btn:hover {
  color: rgb(109, 202, 96);
  cursor: pointer;
}

.infoColor {
  color: rgb(125, 152, 224);
}

.errorColor {
  color: rgb(204, 33, 33);
}