
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  color: rgb(197, 192, 202);
}

.content {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  overflow: hidden;
}

.memoryScroll {
  overflow: auto;
  min-width: 20px;
  width: 20px;
}

.memoryAreaContainer {
  display: flex;
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}

.memoryArea {
  margin: 0px 5px;
  width: 100%;
  color: rgb(197, 192, 202);
  font-family: Consolas, monaco, monospace;
  border-collapse: collapse;
  height: 0px;
}

.memoryArea td {
  padding: 0px 3px;
}

.memoryData {
  color: rgb(197, 192, 202);
}

.memoryRowNumber {
  color: rgb(92, 202, 92);
}

.memoryColumnNumber {
  color: rgb(99, 94, 255);
}