.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  color: rgb(197, 192, 202);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-wrap: none;
  white-space: nowrap;
  background-color: #ffffff15;
}

.infos {
  text-align: center;
  color: rgb(109, 202, 96);
  animation: blink-green 1s linear infinite;
}

.curLineHighlight {
  background: rgba(238, 255, 0, 0.45);
}

.btn {
  margin: 0px 5px 0px 0px;
  border: 1px solid #3a3a3a;
  color: rgb(197, 192, 202);
  background-color: #00000070;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn:hover {
  color: rgb(109, 202, 96);
  cursor: pointer;
}

.editor {
  display: flex;
  flex: 1;
  overflow: hidden;
}

@keyframes blink-green {
  0%  { color: transparent; }
  40%   { color: rgb(109, 202, 96); }
  60%   { color: rgb(109, 202, 96); }
  100%  { color: transparent; }
}