.container {
  background-color: #0e0e0e;
  background-image: linear-gradient(147deg, #0e0e0e 0%, #2b2b2b 74%);
  display: flex;
  flex: 1;
  overflow: auto;
}

.windowsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.windowsContainer > * {
  margin: 20px;
}

.aboutContainer {
  border: 1px solid rgb(141, 53, 255);
  padding: 10px;
  position: fixed;
  top: 5px;
  right: 5px;
  color: rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.aboutContainer a:link, a:visited, a:active {
  color: rgb(198, 59, 253);
  text-decoration: none;
}

.aboutContainer a:hover {
  color: rgb(141, 53, 255);
}

.aboutContainer button {
  margin-top: 5px;
  border: none;
  background-color: rgb(89, 19, 180);
  color: rgb(212, 212, 212);
}

.aboutContainer button:hover {
  background-color: rgb(131, 75, 204);
}