.container {
  color: rgb(197, 192, 202);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px 5px 5px;
}

.title {
  color: rgb(197, 192, 202);
  background-color: #ffffff15;
}

.title, .cycleArea {
  margin: 2px 0px 5px 0px;
}

.cycleArea {
  display: flex;
  flex-direction: row;
}

.cycleLabel {
  margin-right: 4px;
}

.btnList {
  display: table;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0 2px;
}

.btn {
  display: table-row;
  height: 25px;
  background-color: #ffffff0c;
  color: rgb(197, 192, 202);
  border: none;
  margin: 5px 0px;
  transition: color 0.1s;
  cursor: pointer;
}

.btn>* {
  display: table-cell;
  vertical-align: middle;
}

.btn>svg {
  margin-right: 5px;
}

.btn:hover {
  background-color: #00000070;
  color: rgb(109, 202, 96);
}

.btnLaterals {
  width: 50%;
}

.delayLabel {
  padding: 5px 0px 5px 0px;
}

.delayInput {
  width: calc(100% - 10px);
}