html, body, #root {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  overflow: auto;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}